Repository setchy/atlassify, pull requests merged in 2024-11, with the labels that each got.

#322 feat: Add Developer Menu Option to View Application Logs
  docs/src/components/solid/FaqAccordion.tsx
  src/main/menu.ts
  src/main/utils.ts
  src/renderer/utils/constants.ts
Labels: enhancement

#326 docs: update debugging faq
  docs/src/components/solid/FaqAccordion.tsx
Labels: documentation

#333 feat: add github status and astro-icons
  .github/workflows/website.yml
  docs/astro.config.ts
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/components/Footer.astro
  docs/src/components/GitHubRepo.astro
  docs/src/components/Hero.astro
  docs/src/components/LatestRelease.astro
  docs/src/components/Navbar.astro
  docs/src/components/solid/FaqAccordion.tsx
  docs/src/constants.ts
  docs/src/icons/Download.astro
  docs/src/icons/GitHub.astro
  docs/src/types.ts
Labels: enhancement

#338 chore(deps): update @atlaskit primitives and tooltip
  package.json
  pnpm-lock.yaml
Labels: dependency

#340 refactor: docs
  docs/astro.config.ts
  docs/src/components/GitHubRepo.astro
  docs/src/components/GoogleAnalytics.astro
  docs/src/components/Hero.astro
  docs/src/components/LatestRelease.astro
  docs/src/components/Navbar.astro
  docs/src/constants.ts
  docs/src/layouts/Layout.astro
  docs/src/pages/404.astro
  docs/src/pages/index.astro
  docs/src/types.ts
Labels: refactor

#352 feat(icons): use line-md download icon
  docs/package.json
  docs/pnpm-lock.yaml
  docs/src/components/LatestRelease.astro
Labels: enhancement

#354 docs: refactor formatting
  docs/package.json
  docs/src/components/Footer.astro
  docs/src/components/GitHubRepo.astro
  docs/src/components/GoogleAnalytics.astro
  docs/src/components/Hero.astro
  docs/src/components/LatestRelease.astro
  docs/src/components/Navbar.astro
  docs/src/layouts/SectionRow.astro
  docs/src/pages/404.astro
  docs/src/pages/index.astro
Labels: documentation

#355 feat: netlify deploy main
  .github/workflows/website.yml
  README.md
Labels: enhancement

#368 build: prepare `v1.8.0` release
  package.json
Labels: release

#373 fix: padding on error page
  src/renderer/components/Oops.tsx
  src/renderer/components/__snapshots__/Oops.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
Labels: bug

#379 refactor: update filters match expressions to include space
  src/renderer/utils/filters.ts
Labels: refactor
