Repository setchy/atlassify, pull requests merged in 2024-10, with the labels that each got.

#189 refactor: asset paths
  config/webpack.config.renderer.base.ts
  src/main/icons.ts
  src/renderer/components/__snapshots__/AllRead.test.tsx.snap
  src/renderer/components/__snapshots__/Oops.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
  src/renderer/components/primitives/EmojiText.tsx
  src/renderer/components/primitives/__snapshots__/EmojiText.test.tsx.snap
  src/renderer/utils/constants.ts
  src/renderer/utils/notifications/native.ts
Labels: refactor

#190 refactor: remove resize-observer-polyfill
  package.json
  pnpm-lock.yaml
  src/renderer/components/settings/AppearanceSettings.test.tsx
  src/renderer/components/settings/SettingsFooter.test.tsx
  src/renderer/routes/Settings.test.tsx
Labels: dependency, refactor

#191 feat: filters highlight selected
  src/renderer/routes/Filters.tsx
  src/renderer/routes/__snapshots__/Filters.test.tsx.snap
Labels: enhancement

#196 fix: notification animation based on mark as read setting
  src/renderer/components/notifications/NotificationRow.tsx
Labels: bug

#197 build: prepare `v1.4.0` release
  package.json
Labels: release

#198 fix: address sonarcloud issues
  src/main/menu.ts
  src/main/updater.ts
Labels: bug

#221 refactor: chevron helper
  src/renderer/components/notifications/AccountNotifications.tsx
  src/renderer/components/notifications/ProductNotifications.tsx
  src/renderer/types.ts
  src/renderer/utils/helpers.test.ts
  src/renderer/utils/helpers.ts
Labels: refactor

#222 build: electron languages
  package.json
Labels: build

#223 build: remove unused locales
  package.json
  scripts/remove-unused-locales.js
Labels: build

#224 build: prepare `v1.5.0` release
  package.json
Labels: release

#251 test: coverage icons
  src/main/icons.test.ts
  src/main/icons.ts
Labels: test

#255 build: prepare `v1.6.0` release
  package.json
Labels: release

#259 fix: emoji parse for 🏖️
  config/webpack.config.renderer.base.ts
  src/renderer/components/primitives/EmojiText.tsx
  src/renderer/utils/__snapshots__/emojis.test.ts.snap
  src/renderer/utils/emojis.test.ts
  src/renderer/utils/emojis.ts
  src/renderer/utils/errors.ts
Labels: bug

#260 build: prepare `v1.6.1` release
  package.json
Labels: release

#264 refactor: landing sidebar
  src/renderer/components/Sidebar.tsx
  src/renderer/routes/Landing.tsx
  src/renderer/routes/__snapshots__/Landing.test.tsx.snap
Labels: refactor

#265 feat: tweak sidebar width
  src/renderer/App.tsx
  src/renderer/components/Sidebar.tsx
  src/renderer/components/__snapshots__/Sidebar.test.tsx.snap
Labels: enhancement

#282 feat: add graphql codegen and improve bad query error handling
  .gitignore
  .vscode/settings.json
  biome.json
  codegen.ts
  package.json
  pnpm-lock.yaml
  sonar-project.properties
  src/renderer/components/notifications/NotificationRow.test.tsx
  src/renderer/routes/Filters.tsx
  src/renderer/types.ts
  src/renderer/utils/api/__snapshots__/client.test.ts.snap
  src/renderer/utils/api/__snapshots__/request.test.ts.snap
  src/renderer/utils/api/client.test.ts
  src/renderer/utils/api/client.ts
  src/renderer/utils/api/errors.test.ts
  src/renderer/utils/api/errors.ts
  src/renderer/utils/api/graphql/generated/README.md
  src/renderer/utils/api/graphql/generated/fragment-masking.ts
  src/renderer/utils/api/graphql/generated/gql.ts
  src/renderer/utils/api/graphql/generated/graphql.ts
  src/renderer/utils/api/graphql/generated/index.ts
  src/renderer/utils/api/request.test.ts
  src/renderer/utils/api/request.ts
  src/renderer/utils/api/types.ts
  src/renderer/utils/auth/utils.ts
  src/renderer/utils/filters.ts
  src/renderer/utils/notifications/notifications.ts
  src/renderer/utils/products.test.ts
  src/renderer/utils/products.ts
  tsconfig.json
Labels: enhancement, dependency

#296 build: prepare `v1.7.0` release
  package.json
Labels: release

#299 build: prepare `v1.7.1` release
  package.json
  sonar-project.properties
Labels: release
