Repository setchy/atlassify, pull requests merged in 2024-09, with the labels that each got.

#14 refactor: improve error handling
  src/routes/Notifications.test.tsx
  src/routes/__snapshots__/Notifications.test.tsx.snap
  src/types.ts
  src/utils/api/errors.test.ts
  src/utils/api/errors.ts
  src/utils/api/types.ts
  src/utils/errors.ts
Labels: refactor

#17 build: prepare `v0.1.0` alpha release
  .github/workflows/release.yml
  README.md
  assets/images/press.png
  docs/public/images/social.png
  docs/src/assets/notifications.png
  package.json
  pnpm-lock.yaml
  scripts/notarize.js
  src/routes/LoginWithAPIToken.tsx
Labels: dependency, release

#28 fix: icon color
  src/components/Sidebar.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/Sidebar.test.tsx.snap
Labels: bug

#30 feat: add team central / atlas product mapping
  src/routes/__snapshots__/Filters.test.tsx.snap
  src/utils/api/types.ts
  src/utils/product.ts
Labels: enhancement

#34 feat: mark account notifications as read
  README.md
  src/components/AccountNotifications.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
Labels: enhancement

#37 feat: navigate to Home on clicking the logo
  package.json
  src/components/Sidebar.test.tsx
  src/components/Sidebar.tsx
  src/components/__snapshots__/Sidebar.test.tsx.snap
  src/routes/Filters.test.tsx
  src/routes/Filters.tsx
  src/routes/__snapshots__/Filters.test.tsx.snap
  src/utils/links.test.ts
  src/utils/links.ts
Labels: enhancement

#40 feat: change icon to navigate home
  src/components/Sidebar.test.tsx
  src/components/Sidebar.tsx
Labels: enhancement

#43 feat: improve sidebar design
  src/components/Sidebar.tsx
  src/components/__snapshots__/Sidebar.test.tsx.snap
Labels: enhancement

#44 feat: Change Chevron Direction and Other Minor Cosmetic Changes
  src/components/AccountNotifications.tsx
  src/components/ProductNotifications.tsx
  src/components/Sidebar.tsx
  src/components/__snapshots__/ProductNotifications.test.tsx.snap
  src/components/__snapshots__/Sidebar.test.tsx.snap
  src/components/settings/SystemSettings.tsx
Labels: enhancement

#45 feat: improve product title alignment
  src/components/ProductNotifications.tsx
  src/components/__snapshots__/ProductNotifications.test.tsx.snap
Labels: enhancement

#46 refactor: revert sidebar button size
  src/components/Sidebar.tsx
Labels: refactor

#48 feat: explicitly set tooltip positions
  src/components/AccountNotifications.tsx
  src/components/NotificationRow.tsx
  src/components/ProductNotifications.tsx
  src/components/Sidebar.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/__snapshots__/ProductNotifications.test.tsx.snap
  src/components/__snapshots__/Sidebar.test.tsx.snap
  src/components/settings/SettingsFooter.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: enhancement

#49 fix: center align filters sidebar icon
  src/components/Sidebar.tsx
Labels: bug

#50 build: prepare `v0.2.0` release
  package.json
Labels: release

#53 feat: order product grouping alphabetically
  src/components/AccountNotifications.tsx
Labels: enhancement

#54 feat: remove app name from native notification title
  src/utils/notifications.ts
Labels: enhancement

#58 build: autobump cask workflow
  .github/workflows/autobump.yml
Labels: build

#61 refactor: update native notification title and body
  src/utils/notifications/native.ts
Labels: refactor

#62 feat: implement `mark as unread` for individual notifications
  src/components/NotificationRow.tsx
  src/context/App.tsx
  src/hooks/useNotifications.ts
Labels: enhancement

#63 refactor: native notification body
  src/utils/notifications/native.ts
Labels: refactor

#64 feat: loading notifications animation
  ROADMAP.md
  package.json
  pnpm-lock.yaml
  src/components/Sidebar.tsx
Labels: enhancement, dependency

#68 test: increase coverage
  src/__mocks__/notifications-mocks.ts
  src/components/AccountNotifications.test.tsx
  src/components/NotificationRow.test.tsx
  src/components/ProductNotifications.test.tsx
  src/components/ProductNotifications.tsx
  src/components/__snapshots__/ProductNotifications.test.tsx.snap
  src/routes/Filters.test.tsx
  src/routes/Filters.tsx
  src/routes/__snapshots__/Filters.test.tsx.snap
  src/utils/api/__mocks__/response-mocks.ts
  src/utils/notifications/filters.test.ts
  src/utils/notifications/native.test.ts
  src/utils/notifications/remove.test.ts
  src/utils/notifications/remove.ts
Labels: test

#73 build: prepare `v1.0.0` release
  ROADMAP.md
  assets/images/original/high.png
  assets/images/original/mark-gradient-blue-atlas.png
  assets/images/original/mark-gradient-blue-atlas.svg
  assets/images/original/mark-gradient-inverse-atlas.png
  assets/images/original/mark-gradient-inverse-atlas.svg
  assets/images/original/mark-gradient-neutral-atlas.png
  assets/images/original/mark-gradient-neutral-atlas.svg
  docs/public/images/social.png
  docs/src/assets/all-read.png
  docs/src/assets/notifications.png
  docs/src/assets/settings.png
  docs/src/components/solid/FaqAccordion.tsx
  package.json
  src/components/ProductNotifications.tsx
  src/components/Sidebar.tsx
  src/components/__snapshots__/Sidebar.test.tsx.snap
  src/context/App.test.tsx
  src/routes/Accounts.test.tsx
  src/utils/api/client.ts
Labels: release

#75 test: update mocks
  src/__mocks__/notifications-mocks.ts
  src/components/AccountNotifications.test.tsx
  src/components/NotificationRow.test.tsx
  src/components/ProductNotifications.test.tsx
  src/components/Sidebar.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/context/App.test.tsx
  src/hooks/useNotifications.test.ts
  src/utils/api/__mocks__/response-mocks.ts
  src/utils/filters.test.ts
  src/utils/filters.ts
  src/utils/helpers.test.ts
  src/utils/helpers.ts
  src/utils/links.test.ts
  src/utils/notifications/filters.test.ts
  src/utils/notifications/native.test.ts
  src/utils/notifications/remove.test.ts
Labels: test

#77 refactor: remove tailwind gray styles and update zoom controls
  src/components/AllRead.tsx
  src/components/NotificationRow.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/AllRead.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/settings/AppearanceSettings.tsx
  src/components/settings/SettingsFooter.tsx
  src/electron/index.html
  src/routes/Accounts.tsx
  src/routes/Filters.tsx
  src/routes/__snapshots__/Accounts.test.tsx.snap
  src/routes/__snapshots__/Filters.test.tsx.snap
  src/routes/__snapshots__/Settings.test.tsx.snap
  tailwind.config.js
Labels: refactor

#76 refactor: remove unused tailwind font size
  tailwind.config.js
Labels: refactor

#78 refactor: settings layout
  ROADMAP.md
  src/routes/Settings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: refactor

#82 refactor: login to use ads
  src/routes/Login.tsx
  src/routes/__snapshots__/Login.test.tsx.snap
Labels: refactor

#83 chore: remove unused deps
  package.json
  pnpm-lock.yaml
  src/routes/Filters.tsx
Labels: dependency

#86 test: add coverage
  ROADMAP.md
  src/__mocks__/notifications-mocks.ts
  src/components/Sidebar.test.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
  src/components/__snapshots__/Sidebar.test.tsx.snap
  src/components/settings/AppearanceSettings.test.tsx
  src/components/settings/AppearanceSettings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/utils/api/errors.test.ts
  src/utils/api/errors.ts
  src/utils/api/types.ts
  src/utils/filters.test.ts
  src/utils/helpers.test.ts
  src/utils/helpers.ts
  src/utils/links.test.ts
  src/utils/products.test.ts
  src/utils/products.ts
Labels: test

#89 test: more coverage
  ROADMAP.md
  src/__mocks__/notifications-mocks.ts
  src/components/Sidebar.tsx
  src/components/settings/AppearanceSettings.tsx
  src/hooks/useNotifications.test.ts
  src/types.ts
  src/utils/helpers.ts
  src/utils/notifications/notifications.test.ts
  src/utils/notifications/notifications.ts
Labels: test

#99 refactor: use ads for notification row component
  src/components/NotificationRow.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/__snapshots__/NotificationRow.test.tsx.snap
Labels: refactor

#101 refactor: remove update icon logic
  src/electron/main.js
Labels: refactor

#100 feat: disable electron remote api
  src/electron/main.js
Labels: enhancement

#103 deps: remove @electron/remote
  package.json
  pnpm-lock.yaml
Labels: dependency

#102 refactor: remove loading component (nprogress)
  package.json
  pnpm-lock.yaml
  src/app.tsx
  src/components/Loading.test.tsx
  src/components/Loading.tsx
  src/electron/index.html
  src/index.tsx
Labels: dependency, refactor

#104 refactor: overhaul login ux
  package.json
  pnpm-lock.yaml
  src/__mocks__/notifications-mocks.ts
  src/__mocks__/state-mocks.ts
  src/app.tsx
  src/components/NotificationRow.test.tsx
  src/components/fields/FieldInput.test.tsx
  src/components/fields/FieldInput.tsx
  src/components/fields/__snapshots__/FieldInput.test.tsx.snap
  src/context/App.test.tsx
  src/hooks/useNotifications.test.ts
  src/routes/Accounts.test.tsx
  src/routes/Accounts.tsx
  src/routes/Landing.test.tsx
  src/routes/Landing.tsx
  src/routes/Login.test.tsx
  src/routes/Login.tsx
  src/routes/LoginWithAPIToken.tsx
  src/routes/__snapshots__/Landing.test.tsx.snap
  src/routes/__snapshots__/Login.test.tsx.snap
  src/types.ts
  src/utils/api/__snapshots__/client.test.ts.snap
  src/utils/api/__snapshots__/request.test.ts.snap
  src/utils/api/client.test.ts
  src/utils/api/client.ts
  src/utils/api/request.test.ts
  src/utils/api/request.ts
  src/utils/api/types.ts
  src/utils/helpers.test.ts
  src/utils/links.test.ts
  src/utils/notifications/native.test.ts
  src/utils/notifications/remove.test.ts
Labels: dependency, refactor

#105 refactor: secure auth
  src/__mocks__/electron.js
  src/__mocks__/state-mocks.ts
  src/components/AccountNotifications.tsx
  src/components/__snapshots__/AccountNotifications.test.tsx.snap
  src/context/App.test.tsx
  src/context/App.tsx
  src/electron/main.js
  src/routes/Accounts.tsx
  src/routes/Login.tsx
  src/routes/Notifications.tsx
  src/routes/__snapshots__/Accounts.test.tsx.snap
  src/types.ts
  src/utils/api/__snapshots__/client.test.ts.snap
  src/utils/api/__snapshots__/request.test.ts.snap
  src/utils/api/client.test.ts
  src/utils/api/request.test.ts
  src/utils/api/request.ts
  src/utils/auth/types.ts
  src/utils/auth/utils.test.ts
  src/utils/auth/utils.ts
  src/utils/comms.test.ts
  src/utils/comms.ts
  src/utils/errors.ts
  src/utils/links.ts
  src/utils/notifications/native.ts
  src/utils/notifications/remove.test.ts
  src/utils/notifications/remove.ts
  src/utils/storage.test.ts
  src/utils/storage.ts
Labels: refactor

#108 refactor: remove primary/secondary account concept
  src/routes/Accounts.tsx
  src/routes/__snapshots__/Accounts.test.tsx.snap
Labels: refactor

#111 refactor: use fragment
  docs/src/components/LatestRelease.astro
  src/components/AccountNotifications.tsx
  src/components/Sidebar.tsx
Labels: refactor

#113 refactor: notification components
  src/components/AllRead.tsx
  src/components/__snapshots__/AllRead.test.tsx.snap
  src/components/notifications/AccountNotifications.test.tsx
  src/components/notifications/AccountNotifications.tsx
  src/components/notifications/NotificationRow.test.tsx
  src/components/notifications/NotificationRow.tsx
  src/components/notifications/ProductNotifications.test.tsx
  src/components/notifications/ProductNotifications.tsx
  src/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/notifications/__snapshots__/NotificationRow.test.tsx.snap
  src/components/notifications/__snapshots__/ProductNotifications.test.tsx.snap
  src/routes/Notifications.test.tsx
  src/routes/Notifications.tsx
Labels: refactor

#115 fix: notification state on interactions
  src/components/notifications/NotificationRow.tsx
  src/components/notifications/ProductNotifications.tsx
  src/components/settings/NotificationSettings.tsx
  src/hooks/useNotifications.ts
  src/types.ts
Labels: bug

#116 build: prepare `v1.1.0` release
  package.json
Labels: release

#117 build: prepare `v1.1.0` release
  package.json
  pnpm-lock.yaml
Labels: dependency, release

#118 fix: error handling safe storage
  src/utils/api/errors.test.ts
  src/utils/api/errors.ts
Labels: bug

#119 build: prepare `v1.1.0` release
  ROADMAP.md
Labels: release

#120 build: prepare `v1.1.0` release
  package.json
  src/electron/main.js
Labels: release

#121 build: prepare `v1.1.0` release
  package.json
  pnpm-lock.yaml
  src/electron/main.js
Labels: dependency, release

#127 feat: hide windows taskbar
  src/electron/main.js
Labels: enhancement

#128 refactor: add jsdocs to types
  src/__mocks__/notifications-mocks.ts
  src/components/notifications/NotificationRow.tsx
  src/components/notifications/ProductNotifications.tsx
  src/routes/Filters.tsx
  src/types.ts
  src/utils/api/types.ts
  src/utils/auth/types.ts
  src/utils/products.ts
Labels: refactor

#137 refactor: primitive components
  src/components/AllRead.tsx
  src/components/Oops.tsx
  src/components/primitives/Centered.test.tsx
  src/components/primitives/Centered.tsx
  src/components/primitives/EmojiText.test.tsx
  src/components/primitives/EmojiText.tsx
  src/components/primitives/Header.test.tsx
  src/components/primitives/Header.tsx
  src/components/primitives/__snapshots__/Centered.test.tsx.snap
  src/components/primitives/__snapshots__/EmojiText.test.tsx.snap
  src/components/primitives/__snapshots__/Header.test.tsx.snap
  src/routes/Accounts.tsx
  src/routes/Filters.tsx
  src/routes/Login.tsx
  src/routes/Settings.tsx
Labels: refactor

#139 feat: Add Confirmation Modal To Mark Account Notifications As Read
  .github/workflows/pr-triage.yml
  .github/workflows/test.yml
  src/components/notifications/AccountNotifications.test.tsx
  src/components/notifications/AccountNotifications.tsx
  src/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
Labels: enhancement

#152 feat(settings): default `open at startup`
  src/__mocks__/state-mocks.ts
  src/context/App.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: enhancement

#154 docs: tailwind typescript config
  .gitignore
  docs/src/layouts/Layout.astro
  docs/src/styles/app.css
  docs/tailwind.config.ts
  docs/ui.config.json
Labels: documentation

#155 docs: ts
  .gitignore
  docs/astro.config.ts
  docs/ui.config.json
Labels: documentation

#153 feat(settings): sort grouped notifications alphabetically
  .github/workflows/pr-triage.yml
  src/__mocks__/state-mocks.ts
  src/components/notifications/AccountNotifications.test.tsx
  src/components/notifications/AccountNotifications.tsx
  src/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
  src/components/settings/NotificationSettings.test.tsx
  src/components/settings/NotificationSettings.tsx
  src/context/App.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
  src/types.ts
Labels: enhancement

#157 refactor: filter layout
  src/routes/Filters.tsx
  src/routes/__snapshots__/Filters.test.tsx.snap
Labels: refactor

#164 build: prepare `v1.2.0` release
  package.json
  src/components/settings/AppearanceSettings.test.tsx
  src/components/settings/AppearanceSettings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: release

#165 docs: update website
  docs/src/assets/logos/atlassian.svg
  docs/src/assets/logos/atlassify-blue.svg
  docs/src/assets/logos/atlassify-neutral.svg
  docs/src/assets/logos/atlassify-white.svg
  docs/src/assets/logos/electron.png
  docs/src/assets/logos/electron.svg
  docs/src/assets/logos/github.png
  docs/src/assets/logos/github.svg
  docs/src/assets/logos/jest.png
  docs/src/assets/logos/react.png
  docs/src/assets/logos/react.svg
  docs/src/assets/logos/tailwindcss.png
  docs/src/assets/logos/tailwindcss.svg
  docs/src/assets/logos/typescript.png
  docs/src/assets/logos/typescript.svg
  docs/src/components/Footer.astro
  docs/src/components/Hero.astro
  docs/src/components/Logo.astro
  docs/src/components/Navbar.astro
  docs/src/pages/index.astro
  docs/tailwind.config.ts
Labels: documentation

#166 feat: group by product alphabetic tooltip
  src/components/settings/NotificationSettings.tsx
  src/routes/__snapshots__/Settings.test.tsx.snap
Labels: enhancement

#171 feat: restructure project
  docs/src/components/LatestRelease.astro
  package.json
Labels: enhancement

#174 refactor: convert `main` to typescript
  .npmrc
  config/webpack.config.common.js
  config/webpack.config.common.ts
  config/webpack.config.main.base.ts
  config/webpack.config.main.prod.ts
  config/webpack.config.prod.js
  config/webpack.config.renderer.base.ts
  config/webpack.config.renderer.prod.ts
  config/webpack.paths.ts
  package.json
  pnpm-lock.yaml
  scripts/delete-source-maps.ts
  src/main/first-run.ts
  src/main/main.ts
  src/main/utils.ts
  src/renderer/App.tsx
  src/renderer/components/__snapshots__/AllRead.test.tsx.snap
  src/renderer/components/__snapshots__/Oops.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
  src/renderer/components/primitives/EmojiText.tsx
  src/renderer/components/primitives/__snapshots__/EmojiText.test.tsx.snap
  src/renderer/index.ejs
  src/renderer/index.tsx
  src/renderer/utils/cn.test.ts
  src/renderer/utils/cn.ts
  tsconfig.json
Labels: dependency, refactor

#176 refactor: extract css and copy discord svgs to build
  .github/workflows/build.yml
  .github/workflows/release.yml
  config/webpack.config.common.ts
  config/webpack.config.renderer.base.ts
  config/webpack.config.renderer.prod.ts
  config/webpack.paths.ts
  package.json
  pnpm-lock.yaml
  scripts/delete-source-maps.ts
  src/renderer/App.css
  src/renderer/App.tsx
  src/renderer/components/__snapshots__/AllRead.test.tsx.snap
  src/renderer/components/__snapshots__/Oops.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
  src/renderer/components/primitives/EmojiText.tsx
  src/renderer/components/primitives/__snapshots__/EmojiText.test.tsx.snap
  src/renderer/index.ejs
  src/renderer/index.html
Labels: dependency, refactor

#180 refactor: extract menu, icons, updater logic from main.ts
  src/main/icons.ts
  src/main/main.ts
  src/main/menu.ts
  src/main/updater.ts
  src/main/utils.ts
Labels: refactor

#182 refactor: move dependencies to dev dependencies
  package.json
  pnpm-lock.yaml
Labels: dependency, refactor

#181 build: upload first level artifacts
  .github/workflows/build.yml
  .github/workflows/release.yml
Labels: build

#183 build: prepare `v1.3.0` release
  .github/workflows/build.yml
  .github/workflows/release.yml
  package.json
Labels: release

#184 fix: notification sound
  config/webpack.config.renderer.base.ts
  config/webpack.paths.ts
  package.json
  src/renderer/components/__snapshots__/AllRead.test.tsx.snap
  src/renderer/components/__snapshots__/Oops.test.tsx.snap
  src/renderer/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
  src/renderer/components/primitives/EmojiText.tsx
  src/renderer/components/primitives/__snapshots__/EmojiText.test.tsx.snap
  src/renderer/utils/notifications/native.ts
Labels: bug

#185 build: prepare `v1.3.1` release
  package.json
Labels: release

#186 fix: asset loading
  config/webpack.config.renderer.base.ts
  config/webpack.paths.ts
  package.json
  src/main/icons.ts
  src/renderer/__mocks__/utils.ts
  src/renderer/components/AllRead.test.tsx
  src/renderer/components/Oops.test.tsx
  src/renderer/components/__snapshots__/AllRead.test.tsx.snap
  src/renderer/components/__snapshots__/Oops.test.tsx.snap
  src/renderer/components/notifications/AccountNotifications.test.tsx
  src/renderer/components/notifications/__snapshots__/AccountNotifications.test.tsx.snap
  src/renderer/components/primitives/EmojiText.test.tsx
  src/renderer/components/primitives/EmojiText.tsx
  src/renderer/components/primitives/__snapshots__/EmojiText.test.tsx.snap
  src/renderer/utils/helpers.ts
  src/renderer/utils/notifications/native.ts
Labels: bug

#187 build: prepare `v1.3.1` release
  package.json
Labels: release
