Repository setchy/atlassify, pull requests merged in 2025-04, with the labels that each got.

#803 build: prepare `v1.15.0` release
  package.json
  pnpm-lock.yaml
  scripts/afterSign.js
Labels: dependency, release

#841 fix: off by one error when max account notifications reached
  src/renderer/components/notifications/AccountNotifications.test.tsx
  src/renderer/components/notifications/AccountNotifications.tsx
  src/renderer/routes/Notifications.tsx
Labels: bug

#844 fix: context menu visibility regression in electron
  package.json
  pnpm-lock.yaml
Labels: bug, dependency

#848 build: prepare `v1.16.0` release
  package.json
Labels: release

#877 build: prepare `v1.17.0` release
  config/electron-builder.js
  package.json
  pnpm-lock.yaml
Labels: dependency, release
