Repository setchy/atlassify, pull requests merged in 2025-03, with the labels that each got.

#755 Revert "chore(deps): update @electron/notarize to v3"
  package.json
  pnpm-lock.yaml
Labels: dependency

#753 build: prepare `v1.14.0` release
  package.json
  src/renderer/__helpers__/jest.setup.ts
  src/renderer/utils/notifications/native.test.ts
Labels: release

#759 build: prepare `v1.14.0` release
  src/renderer/utils/api/client.test.ts
  src/renderer/utils/api/request.ts
  src/renderer/utils/notifications/filters/product.ts
  src/renderer/utils/products.ts
Labels: release

#784 feat(filter): add read filter icons
  package.json
  pnpm-lock.yaml
  src/renderer/components/filters/FilterSection.tsx
  src/renderer/routes/__snapshots__/Filters.test.tsx.snap
  src/renderer/utils/notifications/filters/readState.ts
  src/renderer/utils/notifications/filters/types.ts
  tailwind.config.ts
Labels: enhancement, dependency

#783 refactor: electron-builder configuration
  config/electron-builder.js
  package.json
  scripts/afterPack.js
  scripts/afterSign.js
Labels: build, refactor

#802 fix: show unread on tooltip only when toggle is on
  src/renderer/components/Sidebar.tsx
Labels: bug
